
#app{
  @apply flex flex-col justify-between;
  min-height: 100vh;
}
body{
  @apply text-black font-sans;
  transition: 0.25s;
  &.dark-mode{
    background-color: #222;
    color: #fff;
    .sub-header {
      color: #fff;
    }
  }
}
.btn{
  transition: 0.6s;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  padding: 16px 42px;
  text-align: center;
  display: inline-block;
  background: linear-gradient(270deg, #7375f8, #7375f8, rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
  background-size: 300% 300%;
  background-color: #3942e5;
  &:hover{
    background-position: 99% 50%;
  }
}
.container{
    @apply mx-auto px-4;
}
.text-gradient{
  background: linear-gradient( 45deg,#7375f8, #3942e5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
.dots{
  display: flex;
  content: "";
  position: absolute;
  width: 50%;
  top: 100px;
  left: 3%;
  height: 12rem;
  background-image: radial-gradient(#262626 2px,transparent 0);
  background-size: 20px 20px;
  background-position: 0 0;
  opacity: .08;
}